@base-projects:registry=https://gitlab.enouvo.com/api/v4/projects/227/packages/npm/
//gitlab.enouvo.com/api/v4/projects/227/packages/npm/:_authToken=7jjsmGZrYt5h421aKRj3

@enouvo-packages:registry=https://gitlab.enouvo.com/api/v4/packages/npm/
//gitlab.enouvo.com/api/v4/packages/npm/:_authToken=9w5t4bEGsCzvn8JVBQHE
//gitlab.enouvo.com/api/v4/projects/343/packages/npm/:_authToken=9w5t4bEGsCzvn8JVBQHE
